---
import ActivitiesTable from "../components/activities-table.astro";
import Break from "../components/break.astro";
import CarRental from "../components/car-rental.astro";
import Hotel from "../components/hotel.astro";
import Notes from "../components/notes.astro";
import PrintPrompt from "../components/print-prompt.astro";
import TravelTable from "../components/travel-table.astro";
import Underline from "../components/underline.astro";

import "../style/global.css";

const main_trip_table_size = 5;
const middle_trip_table_size = 3;
const activity_table_size = 5;
---

<!DOCTYPE html>
<html lang="en" class="text-[3vw]">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body class="font-mono font-bold text-sky-600 border-sky-600">
    <PrintPrompt />

    <div class="break-after-page p-4">
      <h1 class="text-center text-4xl">Itinerary Planner</h1><Break />
      <div class="flex flex-row space-x-6">
        <div class="w-1/2">
          <Underline>Depart:</Underline>
        </div><div class="w-1/2">
          <Underline>Return:</Underline>
        </div>
      </div><Break />
      <TravelTable size={main_trip_table_size}>
        Departing trip
      </TravelTable><Break />
      <CarRental /><Break />
      <Hotel />
    </div>

    <div class="break-after-page p-4">
      <ActivitiesTable size={activity_table_size}>
        Activities
      </ActivitiesTable><Break />
      <TravelTable size={middle_trip_table_size}>Trip</TravelTable><Break />
      <CarRental /><Break />
      <Hotel />
    </div>

    <div class="p-4">
      <ActivitiesTable size={activity_table_size}>
        Activities
      </ActivitiesTable><Break />
      <TravelTable size={main_trip_table_size}>
        Returning trip
      </TravelTable><Break />
      <Notes size={5} />
    </div>
  </body>
</html>
