---
const { description, title, type, keywords } = Astro.props;

function anchor(path: string) {
    return new URL(path, Astro.site ? Astro.site : "http://127.0.0.1/").pathname
}
---

<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="canonical" href={Astro.url} />

<link rel="icon" href={anchor("favicon.svg")} type="image/svg+xml" sizes="any" />
<link rel="icon" href={anchor("favicon-64.png")} type="image/png" sizes="64x64" />
<link rel="icon" href={anchor("favicon-48.png")} type="image/png" sizes="48x48" />
<link rel="icon" href={anchor("favicon-32.png")} type="image/png" sizes="32x32" />
<link rel="icon" href={anchor("favicon-16.png")} type="image/png" sizes="16x16" />

<meta property="og:title" content={title ? title : "Itinerary planner"} />
<meta property="og:image" content={anchor("favicon.svg")} />
<meta property="og:type" content={type ? type : "website"} />
<meta property="og:url" content={Astro.url} />
{description ? <meta property="og:description" content={description} /> : "" }
<meta property="og:locale" content="en_US" />

<title>{title ? title : "Itinerary planner"}</title>
{description ? <meta name="description" content={description} /> : ""}
{keywords ? <meta name="keywords" content={keywords} /> : ""}